.pdfcontainer{
    display: flex;
}
.pdfwrapper {
    margin-right: 20px; 
  }
  .pddfs {
    width: 100%; 
    height: 100%;
    margin-left: 10;
  }
  .orn{
    width: 49%;
  }
  @media (max-width:768px) {

    .pddfs{
        width: 100%;
        height: 55%;
    }
    
  }
  @media (max-width:1440px){
    a img{
      margin-left: 40%;
      margin-bottom: 10%;
      margin-top: 10%;
    }
    a p{
      line-height: 1.5;
      text-align: center;
    }
    .orn{
      width: 100%;
      margin: 0 0 5% 0;
    }
  }
  
  
a.weeks{
  display: block;
  margin-bottom: 10px;
  margin-left: 30%;

}