.pdfcontainer{
    display: flex;
}
.pdfwrapper {
    margin-right: 20px; 
  }
  .pddfs {
    width: 100%; 
    height: 100%;
    margin-left: 10;
  }
  @media (max-width:768px) {

    .pddfs{
        width: 100%;
        height: 55%;
    }
  }
  
  
  